<html>
    <head>
        <title>{{ titlehead }}</title>
    </head>

    <body>
        <h1>Conessionari</h1>
        <h3>Menu</h3>
        <div class="menu">
		    <ul>
                <li><a href="/mainpage">HOME</a></li>
			    <li><a href="/cars_page">Cars</a></li>
			    <li><a href="/factory_page">Factory</a></li>
			    <li><a href="/user">Usuari</a></li>
			    <li><a href="/comercials_page">Comercials</a></li>
                <li><a href="/clients_page">Clients</a></li>
                <li><a href="/Log_Out">Log_Out</a></li>
		    </ul>
	    </div><div class="inner_copy"></div>

        <h3>Clients a la base de dades</h3>
        <table>
        {% if clients %}
        {% for client in clients %}
            <tr>
              <td><a href="/clients_page/{{client.id}}"> {{client.last_name}}, {{client.name}} </a> </td>
              <td><form action="{% url "Client_edit" pk=client.id %}"><input type="submit" value="UPDATE"></form></td>
              <td><form action="{% url "Client_delete" pk=client.id %}"><input type="submit" value="DELETE"></form></td>
            </tr>
        {% endfor %}
        {% else %}
            <p> No hi ha cap client </p>
        {% endif %}
        <table>

        <form action="/clients_page/create"><input type="submit" value="Create new Client"></form>
    </body>
</html>
