<html>
    <head>
        <title>{{ titlehead }}</title>
    </head>

    <body>
        <h1>Conessionari</h1>
        <h3>Menu</h3>
        <div class="menu">
		    <ul>
                <li><a href="/mainpage">HOME</a></li>
			    <li><a href="/cars_page">Cars</a></li>
			    <li><a href="/factory_page">Factory</a></li>
			    <li><a href="/user">Usuari</a></li>
			    <li><a href="/comercials_page">Comercials</a></li>
                <li><a href="/clients_page">Clients</a></li>
                <li><a href="/Log_Out">Log_Out</a></li>
		    </ul>
	    </div><div class="inner_copy"></div>

        <h3>Clients a la base de dades</h3>
        {% if clients %}
        {% for client in clients %}
        <li> <a href="/clients_page/{{client.id}}"> {{client.last_name}}, {{client.name}} </a></li>
        
        {% endfor %}
        {% else %}
            <p> No hi ha cap client </p>
        {% endif %}

        <a href="/clients_page/create">Create new Client</a>
    </body>
</html>
