<html>
    <head>
        <title>{{ titlehead }}</title>
    </head>

    <body>
        <h1>Conessionari</h1>
        <h3>Menu</h3>
        <div class="menu">
		    <ul>
                <li><a href="/mainpage">HOME</a></li>
			    <li><a href="/cars_page">Cars</a></li>
			    <li><a href="/factory_page">Factory</a></li>
			    <li><a href="/user">Usuari</a></li>
			    <li><a href="/comercials_page">Comercials</a></li>
                <li><a href="/clients_page">Clients</a></li>
                <li><a href="/Log_Out">Log_Out</a></li>
		    </ul>
	    </div><div class="inner_copy"></div>

        <h3>Fabriques en funcionament</h3>
        {% if factories %}
        {% for factory in factories %}
        <li> <a href="/factory_page/{{factory.id}}"> {{factory.address}} </a></li>
        
        {% endfor %}
        {% else %}
            <p> No hi ha cap fabrica </p>
        {% endif %}
    </body>
</html>
