<html>
<head>
<title>Concessionari app</title>
</head>
<body>

    <h1>Concessionari</h1>

    <h2>User Login</h2>

    <form method="post" action=".">
        <p><label for="id_username">User:</label>
        {{ form.username }}</p>
        <p><label for="id_password">Pass:</label>
        {{ form.password }}</p>
        <input type="hidden" name="next" value="/mainpage" />
        <input type="submit" value="login" />
        {% csrf_token %}
    </form>
    {% if form.has_errors %}
        <p>Error validant usuari.</p>
    {% endif %}
    <a href="/registration">Registra't</a>


</body>
</html>
